body
{
   background-color: #FFF8DC;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading1
{
   background-image: linear-gradient(to top, #A9A9A9 0%, #FFE4C4 100%);
   border: 0px dotted #FFDEAD;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#Heading1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading2
{
   background-image: linear-gradient(to right, #AFEEEE 0%, #FFFFE0 100%);
   border: 0px double #800000;
   border-radius: 1px;
   margin: 0;
   padding: 0;
   -webkit-animation: animate-background 1890ms linear 0ms 100 normal both;
   animation: animate-background 1890ms linear 0ms 100 normal both;
   text-align: center;
}
#Heading2
{
   color: #A50000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: center;
}
#Heading2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading3
{
   background-image: linear-gradient(to right, #FFFFFF 0%, #00008B 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: left;
}
#Heading3 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#Heading4 a
{
   color: inherit;
   text-decoration: none;
}
#SlideShow1 .image
{
   border-width: 0;
   border-radius: 0px;
   left: 0;
   top: 0;
   width: auto;
   height: 100%;
}
#SlideShow2
{
   display: flex;
   height: 705px;
   border: 0px solid #000000;
}
#SlideShow2 .accordion-panel
{
   transition-property: all;
   transition-duration: 800ms;
   transition-timing-function: linear;
   transition-delay: 0s;
   width: 20%;
   height: 100%;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   visibility: visible;
}
#SlideShow2 .accordion-panel img
{
   border-width: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   height: auto;
   width: auto;
   min-width: 100%;
   min-height: 100%;
   -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   z-index: 1;
}
#SlideShow2:hover .accordion-panel:hover 
{
   flex-shrink: 0;
   width: 80%;
}
#Picture1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading5
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading5
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   text-decoration: underline;
}
#Heading5 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading6
{
   background-color: #0000CD;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading6
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
   text-decoration: underline;
}
#Heading6 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading7
{
   background-color: #FF0000;
   background-image: none;
   border: 0px solid #FF0000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading7
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
   text-decoration: underline;
}
#Heading7 a
{
   color: inherit;
   text-decoration: none;
}
#Table1
{
   border: 2px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 46px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb_Heading8
{
   background-image: linear-gradient(to top, #FFEBCD 0%, #FA8072 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading8
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: left;
}
#Heading8 a
{
   color: inherit;
   text-decoration: none;
}
